<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="myApp">
<head>
    <title>Template</title>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-ui-bootstrap-bower/ui-bootstrap.js"></script>
        
        <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="bower_components/jquery/dist/jquery.js"></script>

        <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div ng-controller="myController">
        <p>{{testing}}</p>
    </div>
    <script src="app/app.ts"></script>
</body>
</html>
